@charset "utf-8";
body {
    font-size:         1.2rem;                      /* フォントサイズを18pxにする */
    font-family:       "ＭＳ ゴシック",sans-serif;   /* フォントの種類をゴシック系にする */
    margin:            3%;
    padding:           10px 20px 20px 5px;
    line-height:       1.2;                         /* 行の高さを1.5倍にする */
    color:           #333333;
}

h1 {
    color:           #0000ff;                     /*文字色*/
    text-align:        center;
    padding:           0.5em 0;                     /*上下の余白*/
    border-top:        solid 3px #364e96;         /*上線*/
    border-bottom:     solid 3px #364e96;         /*下線*/
}

h2 {
    padding:           0.25em;
    color:           #010079;
    text-shadow:       0 0 5px white;
    border-left:       solid 4px #010079;
    background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

h3 {
    color:           #0000ff;
    border:            solid 2px #0000ff;
    padding-left:      15px;    
}

h4 {
    color:           #0000ff;
    padding-left:     1.0em;
}


hr{
    clear:both;                                     /*フロート配置をクリアする*/
    margin:10px 0px;                                /*マージン*/
    border:1px dotted #cccccc                     /*内容の区切りをグレーの点線表示にする*/
}

.ex1 {
    width:             100px;
}

.ex2 {
    width:             120px;
}

.ex3 {
    width:             160px;
}

.ex4 {
    width:             200px;
}

.ex5 {
    width:             240px;
}

.ex6 {
    width:             280px;
}

.ex7 {
    width:             320px;
}

.ex8 {
    width:             360px;
}

.ex9 {
    width:             400px;
}

.update {
    text-align:       right;
}

.paragraph {
    margin:            20px;
    padding-left:      20px;
    background-color: #f5f5f5;;   
}

/*=== フッター ===*/
div#footer {
    clear:              both;                       /*回り込みを解除する*/
    height:             40px;                       /*高さの指定*/
    padding:            10px 0px 0px 0px;           /*パディング*/
    font-size:          medium;
    text-align:         center;                     /*センタリング*/
}