@charset "utf-8";
body {
    font-size:        1.0rem;
    font-family:      "ＭＳ ゴシック",sans-serif;    /* フォントの種類をゴシック系にする */
    padding:          10px 20px 20px 5px;  
    line-height:      1.5;
    color:            #333333;
    background-color: #eaffea; 
}

h1 {
    color:            #02ccba;/*文字色*/
    text-align:       center;
    padding:          0.5em 0;/*上下の余白*/
    border-top:       solid 3px #00ff7f;/*上線*/
    border-bottom:    solid 3px #00ff7f;/*下線*/
}

h2 {
    padding:          0.25em;   /* 上下　左右の余白 */
    text-align:       center;
    color:            #494949;
    background:       #fffaf4;
    border-left:      solid 3px #7db4e6;
    border-bottom:    solid 3px #d7d7d7;
}

h3 {
    margin-left:      100px;
    padding:          0.3em;
    width:            110px;
    text-align:       center;
    color:            #008000;
    background:       #ffffdb;
    border-radius:    7px 7px 7px 7px;
    border:           solid 1px #2e8b67;
}

h4 {
    margin-left:      120px;
    text-align:       center;
    padding:          0.25em;
    color:            #006e54;
    background:       #ffffdb;
    border-bottom:    dotted 2px #2e8b67;
    border-top:       dotted 2px #2e8b67;
}

h5 {
    text-align:       left;
    padding:          0.1em;
    color:            #006e54;
    background:       #ffffdb;
    border-bottom:    dotted 2px #2e8b67;
    border-top:       dotted 2px #2e8b67;
}

.update {
    text-align:       right;
}

.figure_M0 {
	width:            320px;              /* 画像の表示サイズ(幅)   */
    height:           240px;              /* 画像の表示サイズ(高さ) */
    /*margin:           0px 20px 20px 20px; /* マージン 上 右 下 左   */
	/*float:            right;              /* 画像を右寄せにする     */
}

.figure_M1 {
	width:            212px;              /* 画像の表示サイズ(幅)   */
    height:           611px;              /* 画像の表示サイズ(高さ) */
    /*margin:           0px 20px 20px 20px; /* マージン 上 右 下 左   */
	/*float:            right;              /* 画像を右寄せにする     */
}

.figure_M2 {
	width:            320px;              /* 画像の表示サイズ(幅)   */
    height:           200px;              /* 画像の表示サイズ(高さ) */
    /*margin:           0px 20px 20px 20px; /* マージン 上 右 下 左   */
	/*float:            right;            画像を右寄せにする     */
}

.figure_M3 {
	width:            238px;              /* 画像の表示サイズ(幅)   */
    height:           843px;              /* 画像の表示サイズ(高さ) */
    /*margin:           0px 20px 20px 20px; /* マージン 上 右 下 左   */
	/*float:            right;              /* 画像を右寄せにする     */
}

.figure_L0 {
    margin-left:      100px;
    padding-right:     10px; 
	width:            240px;              /* 画像の表示サイズ(幅)   */
	margin:           0px 10px 10px 10px; /* マージン 上 右 下 左   */
	float:            right;              /* 画像を左寄せにする     */
}

.figure_L {
    margin-left:      100px;
    padding-right:     10px; 
	width:            450px;              /* 画像の表示サイズ(幅)   */
	margin:           0px 10px 10px 10px; /* マージン 上 右 下 左   */
	float:            right;              /* 画像を左寄せにする     */
}

.figure_L2 {
    margin-left:       50px;
    padding-right:     10px; 
	width:            800px;              /* 画像の表示サイズ(幅)   */
	margin:           0px 10px 10px 10px; /* マージン 上 右 下 左   */
	/*float:            right;*/              /* 画像を左寄せにする     */
}

.paragraph {
    width:              78%;
    margin-left:        10%;
    padding-left:      20px;
    text-indent:       1rem;
    background-color: #dbffdb;;    
}

.sampleprogram {
    margin-left:        2%;
    text-indent:       1rem;
}

.stylesheet {
    margin-left:        2%;
    text-indent:       1rem;
}

ol {
    width:            80%;
}

ol li {
    color:            #0f5c0f;
    font-weight:      bold;
}

ul {
    width:            100%;
}

ul li {
    font-weight:      normal;
}

.table_heading {
    text-align:         center;
    color:            #556b2f;
    background:       #ffffff;    
}

.table_cell {
    text-align:         left;
    padding-left:       3%;
    color:            #556b2f;
    background:       #ffffff;    
}

.table_cell2 {
    text-align:         center;
    padding-left:       3%;
    color:            #556b2f;
    background:       #ffffff;    
}

.terminal_cell {
    text-align:         left;
    padding-left:       1%;
    color:            #ffffff;
    background:       #003300;
}

.command_line {
    margin-left:      2%;
    padding:          1%;        
    color:            #ffffff;      
    background:       #000000;
}

.comment1 {
    width:            50%;
    margin:           1%;
    float:            left;
}

.css-example {
    width:            70%;
    margin:           0%;
    padding-left:     1%;
    color:            #ffffff;      
    background:       #000000;
}

.ex1 {
    width:            75px;    
}

.ex2 {
    width:            240px;
}

.ex21 {
    width:            260px;
}

.ex3 {
    width:            100px;
}

.ex4 {
    width:            120px;
}

.ex41 {
    width:            140px;
}

.ex5 {
    width:            180px;
}

.ex6 {
    width:            280px;
}

.ex7 {
    width:            320px;
}

div#pagebody {
    width:auto;
    margin:           10px;
    /*border:           solid 1px #2f4f4f;*/
    padding-left:     10px;
    padding-right:    10px;
   
    background-color: #ffffea; 
}

.highlight {
    color:          #ff4500;
    font-weight:      bold;
}

.align {
    color:          #006400;    
    font-weight:      bold;
}

.emphasis {
    color:          #008000;
    font-weight:      bold;
}

.emphasis2 {
    color:            #20B2AA;
    font-weight:      bold;        
}

hr{
    clear:both;                     /*フロート配置をクリアする*/
    /*width:680px;*/                    /*幅の指定*/
    margin:10px 0px;                /*マージン*/
    border:1px dotted #cccccc     /*内容の区切りをグレーの点線表示にする*/
}

